* {
    color: #053869;
}

table {
    margin-bottom: 1rem;
    border: 1px solid black;
}

tr, th, label {
    margin: 1px;
}

td, th {
    background-color: #a9cdf8;
    border: 1px solid black;
}

