* {
    color: #053869;
}

table {
    width: 50vw;
    margin-bottom: 1rem;
    border: 1px solid black;
}

tr, label {
    margin: 1px;
}

td {
    background-color: #a9cdf8;
    border: 1px solid black;
}
